extends ../../page-templates/base

block variables
	- var title = 'Booking'

block content
	.booking
		.booking__bg.active
		.booking__bg
		.booking__bg
		.booking__bg
		.booking__content
			h1.booking__title Choose Your Agency.
			.booking__content-agencies
				.booking__agencies-agency.agency--nasa
				.booking__agencies-agency.agency--ukr
				.booking__agencies-agency.agency--spacex
			form.booking__content-form
				input.booking__form-input(
					type="text"
					name="firstname"
					placeholder="First name..."
				)
				input.booking__form-input(
					type="text"
					name="lastname"
					placeholder="Last name..."
				)
				input.booking__form-input(
					type="number"
					name="age"
					placeholder="Age..."
				)
				input.booking__form-input(
					type="email"
					name="email"
					placeholder="Email..."
					required
				)
				button.booking__form-submit(type="submit") Next
		.booking__next
			.booking__next-close
				.booking__close-line
				.booking__close-line
			h2.booking__next-title Select the flight
			.booking__next-flights
				.booking__flights-flight 03.12.2020 || 18:00
				.booking__flights-flight 03.12.2020 || 18:00
				.booking__flights-flight 03.12.2020 || 18:00
			h2.booking__next-title Select class
			.booking__next-types
				.booking__types-type Bussiness
				.booking__types-type Standard
				.booking__types-type Econom
			.booking__next-seats
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
				button.booking__seats-seat ...
			.booking__next-services
				button.booking__services-service VR
				button.booking__services-service Holodeck
				button.booking__services-service Neural Sync
			p.booking__next-price $6000
			button.booking__next-submit Confirm Booking
			

